services:
  messismo_backend:
    container_name: messismo_backend_local
    image: messismo_backend_local
    platform: linux/amd64
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      SPRING_APPLICATION_JSON: '{
        "spring.profiles.active": "test",
        "spring.h2.console.enabled": "true",
        "spring.h2.console.path": "/h2-console",
        "spring.datasource.url": "jdbc:h2:mem:test",
        "spring.datasource.driverClassName": "org.h2.Driver",
        "spring.datasource.username": "sa",
        "spring.datasource.password": "password",
        "spring.jpa.database-platform": "org.hibernate.dialect.H2Dialect",
        "spring.jpa.generate-ddl": "true",
        "spring.jpa.hibernate.ddl-auto": "create-drop",
        "logging.level.org.springframework.security": "DEBUG"
      }'